body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #282c34;
}

/* Clock container */
.clock {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    background: black;
}

/* Clock hands */
.hand {
    position: absolute;
    background: white;
    transform-origin: bottom;
    border-radius: 10px;
}
.hour {
    width: 6px;
    height: 50px;
    top: 50px;
    left: 97px;
}
.minute {
    width: 4px;
    height: 70px;
    top: 30px;
    left: 98px;
}
.second {
    width: 2px;
    height: 80px;
    top: 20px;
    left: 99px;
    background: red;
}

/* Center point of the clock */
.center {
    width: 10px;
    height: 10px;
    background: rgb(255, 166, 0);
    position: absolute;
    top: 95px;
    left: 95px;
    border-radius: 50%;
}

/* Clock numbers */
.number {
    position: absolute;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
}